<div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">
  <h2 class="m-0 flex-grow-1">
    <i class="bi bi-card-text me-2"></i> Lista de Menus
  </h2>

  <div class="d-flex gap-2">
    <a href="/rest/menu/new" class="btn btn-success">
      <i class="bi bi-plus-circle"></i> Criar Novo Menu
    </a>
  </div>
</div>

<table class="table table-striped table-bordered align-middle text-center">
  <thead class="table-dark">
    <tr>
      <th>Nome do Menu</th>
      <th>Data de Criação</th>
      <th>Nº de Pratos</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% if (!restaurant.menu || restaurant.menu.length === 0) { %>
      <tr>
        <td colspan="4">Nenhum menu criado ainda.</td>
      </tr>
    <% } else { %>
      <% restaurant.menu.forEach(menu => { %>
        <tr>
          <td><%= menu.name %></td>
          <td><%= menu._id.getTimestamp().toLocaleDateString('pt-PT') %></td>
          <td><%= menu.meals.length %></td>
          <td>
            <a href="/rest/menu/<%= menu._id %>" class="btn btn-info btn-md" title="Ver Menu">
              <i class="bi bi-eye"></i>
            </a>
            <a href="/rest/menu/<%= menu._id %>/edit" class="btn btn-warning btn-md" title="Editar">
              <i class="bi bi-pencil"></i>
            </a>
            <a href="/rest/menu/<%= menu._id %>/status"
              class="btn btn-<%= menu.isActive ? 'success' : 'secondary' %> btn-md"
              title="Alterar estado">
             <i class="bi bi-toggles"></i>
           </a>
           <form action="/rest/menu/<%= menu._id %>/delete?_method=DELETE" method="POST" class="d-inline" onsubmit="return confirm('Tens a certeza que queres apagar este menu?')">
            <button type="submit" class="btn btn-danger btn-md">
              <i class="bi bi-trash"></i>
            </button>
          </form>
          
           
          </td>
        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>
